{{! https://megatags.co/ ; meta "name" changed to "property" }}
{{! COMMON TAGS }}
<meta charset="utf-8">
<title>Conduit</title>
{{! Search Engine }}
<meta name="description" content="Seed RealWorld with Dark lang">
{{! Schema.org for Google }}
<meta itemprop="name" content="Conduit">
<meta itemprop="description" content="Seed RealWorld with Dark lang">
{{! Open Graph general (Facebook, Pinterest & Google+) }}
<meta property="og:title" content="Conduit">
<meta property="og:description" content="Seed RealWorld with Dark lang">
<meta property="og:url" content="https://seed-realworld-darklang.netlify.com/">
<meta property="og:site_name" content="Conduit"">
<meta property="og:locale" content="en_US">
<meta property="og:type" content="website">
